# Check whether the name is human name or not

## using nltk

In [6]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /home/user/data_science/m.osama/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [18]:
import nltk
from nltk.tag import StanfordNERTagger
st = StanfordNERTagger('english.all.3class.distsim.crf.ser.gz',
                       'stanford-ner.jar')

# Your text goes here
text = "Muneeb"
text = text.lower()
for sent in nltk.sent_tokenize(text):
    tokens = nltk.word_tokenize(sent)
    tags = st.tag(tokens)
    for tag in tags:
        print('tag: ', tag)
        if tag[1] == 'PERSON':
            print(tag)
        else:
            print('else tag: ', tag)

tag:  ('muneeb', 'O')
else tag:  ('muneeb', 'O')

In [1]:
import nltk
from nltk.tag.stanford import NERTagger

# Load the Stanford NER model (you'll need to download it first)
st = NERTagger('stanford-ner/all.3class.distsim.crf.ser.gz', 'stanford-ner/stanford-ner.jar')

# Your text goes here
text = "YOUR TEXT GOES HERE"

for sent in nltk.sent_tokenize(text):
    tokens = nltk.tokenize.word_tokenize(sent)
    tags = st.tag(tokens)
    for tag in tags:
        if tag[1] == 'PERSON':
            print(tag)

ImportError: cannot import name 'NERTagger' from 'nltk.tag.stanford' (/home/user/data_science/m.osama/anaconda3/lib/python3.11/site-packages/nltk/tag/stanford.py)

In [12]:
pip install nameparser

Collecting nameparser
  Downloading nameparser-1.1.3-py2.py3-none-any.whl (24 kB)
Installing collected packages: nameparser
Successfully installed nameparser-1.1.3
Note: you may need to restart the kernel to use updated packages.

# Remove Repeating character

In [15]:
import pandas as pd
import numpy as np

# Create a sample dataframe with two columns
data = {
    "Column1": ["danial", 'aaaaa', "john", 'bbb', 'cccccc', 'A', 'AA', 'AAA', 'ABA'],
    "Column2": ['aaaaa', 'john', 'john', 'dddd', 'eeeeee', 'C', 'AA', 'AAA', 'ABA']
}
df = pd.DataFrame(data)

# Define a function to convert repeating characters to NaN
def convert_repeating_to_nan(x):
    # Check if the length of the set of characters is greater than 1
    # and if the length of the string is greater than 1 (to exclude single characters)
    if len(set(x)) == 1 and len(x) > 3:
        return np.nan
    return x

# Apply the function to both columns
df[["Column1", "Column2"]] = df[["Column1", "Column2"]].applymap(convert_repeating_to_nan)

# Print the modified dataframe
print(df)

  Column1 Column2
0  danial     NaN
1     NaN    john
2    john    john
3     bbb     NaN
4     NaN     NaN
5       A       C
6      AA      AA
7     AAA     AAA
8     ABA     ABA

In [6]:
import numpy as np
data = {
    "Column1": ["john", 'danial', np.nan, 'aa', np.nan, 'danial', 'danial', 'danial'],
    "Column2": ["danial", 'av', np.nan, 'danial', np.nan,  'john', 'john', 'john'],
    "gender": [np.nan, np.nan, 'F', np.nan, np.nan,  'M', 'F', 'M']
    
}

df = pd.DataFrame(data)

# Gender Prediction

In [12]:
import gender_guesser.detector as gender

## single name prediction

In [38]:
name = 'btn'
d = gender.Detector()

gender_prediction = d.get_gender(name.lower().capitalize())
gender_prediction

'unknown'

## use dataframe for multiple prediction

In [19]:
d = gender.Detector()

def gender_prediction(row):
#     print( 'col1',row[0],  'col2',row[1],  'gen', row[2])
    fname = row[0]
    lname = row[1]
    gen = row[2]
    if pd.isna(gen) == True:
#         print('gender nullll ')
        gender_prediction = ''
        if isinstance(fname, str) and len(fname) > 3:
            gender_prediction = d.get_gender(fname.lower().capitalize())
        if isinstance(fname, str) and len(fname) <=3 and pd.isna(lname) == False:
            name = fname + lname
            gender_prediction = d.get_gender(name.lower().capitalize())
        if gender_prediction != '' and gender_prediction == 'male':
                gender_prediction = "M" 
        elif gender_prediction != '' and gender_prediction == 'female':
            gender_prediction = "F"
        else:
            gender_prediction = np.nan
        return gender_prediction
    else:
        return gen

In [20]:
df['gender2'] = df[['Column1', 'Column2', 'gender']].apply(gender_prediction, axis=1)

In [21]:
df

  Column1 Column2 gender gender2
0    john  danial    NaN       M
1  danial      av    NaN       M
2     NaN     NaN      F       F
3      aa  danial    NaN     NaN
4     NaN     NaN    NaN     NaN
5  danial    john      M       M
6  danial    john      F       F
7  danial    john      M       M

In [18]:
df[pd.isna(df['gender'])]

  Column1 Column2 gender gender2
0    john  danial    NaN    None
1  danial      av    NaN    None
3      aa  danial    NaN    None
4     NaN     NaN    NaN    None

# remove row containing an specific value

In [42]:
import pandas as pd

# Create a sample DataFrame
data = {
    'daysago': [62, 83, 111, 139, 160, 204, 222, 245,0, 258, 275],
    'line_race': [11, 11, 9, 10, 10, 9, 8, 9,0, 11, 8],
    'rating': [56, 67, 66, 83, 88, 52, 66, 70,0, 68, 72]
}

df = pd.DataFrame(data)

# Remove rows where 'line_race' is equal to 0
df = df[df['line_race'] != 0]

# Print the updated DataFrame
print(df)

    daysago  line_race  rating
0        62         11      56
1        83         11      67
2       111          9      66
3       139         10      83
4       160         10      88
5       204          9      52
6       222          8      66
7       245          9      70
9       258         11      68
10      275          8      72

# put np.nan on black and spaces

In [1]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {
    'A': [-0.532681, 1.490752, -1.387326, 0.814772, -0.222552, -1.176781],
    'B': ['foo', 'bar', 'foo', 'baz', '   ', 'qux'],
    'C': [0, 1, 2, ' ', 4, '  ']
}

df = pd.DataFrame(data)

# Replace fields that are entirely space (or empty) with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

print(df)

          A    B    C
0 -0.532681  foo  0.0
1  1.490752  bar  1.0
2 -1.387326  foo  2.0
3  0.814772  baz  NaN
4 -0.222552  NaN  4.0
5 -1.176781  qux  NaN

# use on multiple columns

In [9]:
cols = ['C', 'D']
df[cols] = df[cols].replace(r'^\s*$', np.nan, regex=True)

In [10]:
df

                   A    B    C    D
2000-01-01 -0.532681  foo  0.0  1.0
2000-01-02  1.490752  bar  1.0  3.0
2000-01-03 -1.387326  foo  2.0  NaN
2000-01-04  0.814772  baz  NaN  5.0
2000-01-05 -0.222552       4.0  NaN
2000-01-06 -1.176781  qux  NaN  7.0

# validate ip pattern

In [18]:
import re
 
# Make a regular expression
# for validating an Ip-address
regex = "^((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])$"
 
 
     
# Define a function for
# validate an Ip address
def check(Ip): 
 
    # pass the regular expression
    # and the string in search() method
    if(re.search(regex, Ip)): 
        print("Valid Ip address") 
         
    else: 
        print("Invalid Ip address")

In [23]:
check('192.168.0.1')
check('110.234.52.124')
check('666.1.2.2')
check('25.99.208.255')

Valid Ip address
Valid Ip address
Invalid Ip address
Valid Ip address

# Append Dataframe

In [2]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 'B': ['B4', 'B5', 'B6', 'B7']})


concatenated_df = pd.concat([df1, df2], axis=0)

# Display the result
concatenated_df

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7