# What is Pandas in python?

pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.
To get started with pandas, you will need to get comfortable with its two workhorse data structures: Series and DataFrame. While they are not a universal solution for every problem, they provide a solid, easy-to-use basis for most applications.

# Working with Series in Pandas

## Pandas Series Object

A Series is the primary building block of pandas.

Series represents a one-dimensional labeled indexed array based on the NumPy ndarray.
Like an array, a Series can hold zero or more values of any single data type

### Part-(a). Creating Series

 Series can be created and initialized by passing either a scalar value, a NumPy ndarray, a Python list, or a Python Dict as the data parameter of the Series constructor. This is the default parameter and does not need to be specified if it is the first item.

In [2]:
import numpy as np 
import pandas as pd

#### 1. Create one item Series

In [6]:
s1 = pd.Series(3)
s1

0    3
dtype: int64

#### 2. create a series of multiple items using a list

In [7]:
ser_mul = pd.Series([1,2,3,4,5])
ser_mul

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 3. getting the values in the Series

In [9]:
ser_mul.values

array([1, 2, 3, 4, 5], dtype=int64)

#### 4. getting the index of the Series

In [10]:
ser_mul.index

RangeIndex(start=0, stop=5, step=1)

#### 5. Explicitly Creating index(which are string but not integar)

In [12]:
ser2_str_index = pd.Series([1,2,3,4], index=['a','b','c','d'])
ser2_str_index

a    1
b    2
c    3
d    4
dtype: int64

#### 6. Accesssing value by label, Accesssing value by integar

In [15]:
print(f"By Lable, The value is: {ser2_str_index['d']} ")
print(f"By Lable, The value is: {ser2_str_index[3]} ")

By Lable, The value is: 4
By Lable, The value is: 4

#### 7. create Series from an existing index(scalar value with be copied at each index label)

In [16]:
ser3_str = pd.Series(['A','B','C','D'], index = ser2_str_index.index)
ser3_str

a    A
b    B
c    C
d    D
dtype: object

#### 8. creating Series from dict

In [18]:
ser_dict = pd.Series({'a':1,
                      'b':2,
                      'c':3,
                      'd':4})
ser_dict

a    1
b    2
c    3
d    4
dtype: int64

#### 9. Creating Series from numpy array

In [20]:
seri_num = pd.Series(np.array([11,33,22,44]))
seri_num

0    11
1    33
2    22
3    44
dtype: int32

#### 10. Checking Size, shape, uniqueness, and counts of values

In [3]:
# example series, which also contains a NaN(not a number)
# numpy nan property is used here to create an NaN 
s = pd.Series([0, 1, 1, 2, 3, 4, 4, 5, 6, 7,np.nan]) 
s

0     0.0
1     1.0
2     1.0
3     2.0
4     3.0
5     4.0
6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [4]:
print(len(s))
print(s.size)
print(s.shape)
print(s.count())
print(s.unique())
print(s.value_counts())

11
11
(11,)
10
[ 0.  1.  2.  3.  4.  5.  6.  7. nan]
4.0    2
1.0    2
7.0    1
6.0    1
5.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

#### 11. Peeking at data with heads, tails, and take

In [5]:
# first five values
s.head()

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [7]:
# last five values
s.tail()

6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [8]:
# first three values
s.head(n = 3)

0    0.0
1    1.0
2    1.0
dtype: float64

In [10]:
# last three values
s.tail(n = 3)

8     6.0
9     7.0
10    NaN
dtype: float64

In [11]:
s.take([2,6,4])

2    1.0
6    4.0
4    3.0
dtype: float64

#### 12. Lable lookup(get multiple item from Series)

In [15]:
ser2_str_index[['c','a']]

c    3
a    1
dtype: int64

#### 13. Position Bases lookup(get multiple item from Series)

In [17]:
ser2_str_index[[1,3]]

b    2
d    4
dtype: int64

#### 14. Series with an integer index, but not starting with 0

In [14]:
seri_int = pd.Series([1,2,3,4], index= [3,4,5,6])
seri_int

3    1
4    2
5    3
6    4
dtype: int64

#### 15. label-based lookup versus position-based lookup

In [19]:
seri_int[5]  # 2 is considered as label based look up
       # coz label also has 2 init

3

In [20]:
seri_int[0]   # now see in this case we have integer label lookup,position lookup is not working

KeyError: 0