# Python Basics

## Example

In [1]:
print(5 / 8)

# Print the sum of 7 and 10
print(7+10)

0.625
17

## Division

In [11]:
print(5 / 8)

0.625

## Addition

In [12]:
print(7 + 10)

17

## Basic calculator operatios in python

In [13]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

# How much is your $100 worth after 7 years?
print(100*1.1**7)

10
0
15
5.0
4
16
194.87171000000012

## Variable Assignment

In [14]:
# Create a variable savings
savings = 100

# Print out savings
print(savings)

100

## Calculator using variable assignment

In [15]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = savings*growth_multiplier**7

# Print out result
print(result)

194.87171000000012

## String data type

In [16]:
desc = "compound interest"
desc

'compound interest'

## Boolean data type

In [17]:
profitable = True
profitable

True

## Operations using other types of variable

In [18]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assigning product of growth_multiplier and savings to year1
year1 = growth_multiplier*savings

# Printing the type of year1
print(type(year1))

# Assigning sum of desc and desc to doubledesc
doubledesc = desc+desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

## Converting differerent types of variables

In [19]:
savings = 100
result = 100 * 1.10 ** 7

# Fixing printout result
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Defining pi_string
pi_string = "3.1415926"

# Convert pi_string into float
pi_float = float(pi_string)

I started with $100 and now have $194.87171000000012. Awesome!

# Python Lists

## Creating a list

In [20]:
# Area Variables
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Creating list using areas variables
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

## Creating list with different types

In [21]:
# Area Variables
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapting list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

## Creating List of lists (2D)

In [22]:
# Area variables
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# creating list variable house by giving house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom",bed],
         ["bathroom",bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

## Subset and conquer

In [23]:
# Creating areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

## Subset and calculate

In [24]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area
eat_sleep_area = areas[3] + areas[-3]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

## Slicing and dicing

In [25]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:]

# Print out downstairs and upstairs
print(downstairs, upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0] ['bedroom', 10.75, 'bathroom', 9.5]