# Standard normal distribution

In [1]:
import numpy as np
import pandas as pd

# Solving First Column

In [3]:
data = pd.read_excel('standerderdDistribution.xlsx')
data

    Original dataset
0         567.450000
1         572.450000
2         572.450000
3         589.116667
4         613.866667
..               ...
75        842.866667
76        849.616667
77        874.700000
78        878.783333
79        897.450000

[80 rows x 1 columns]