# Skewness
working in skewness
here we have three types of skewness

In [1]:
import numpy as np
import pandas as pd

### Positive (right) skewness

In [2]:
data1 = pd.read_excel('Data1.xlsx')

In [4]:
data1

    Dataset 1
0           1
1           1
2           1
3           1
4           2
5           2
6           2
7           2
8           2
9           2
10          3
11          3
12          3
13          3
14          4
15          4
16          5
17          5
18          7

In [15]:
# Making intervels and frequency
catagories = pd.cut(data1['Dataset 1'],np.arange(0,8))
data1frame = pd.DataFrame({'Frequency':pd.value_counts(catagories)})
data1frame

        Frequency
(1, 2]          6
(2, 3]          4
(0, 1]          4
(4, 5]          2
(3, 4]          2
(6, 7]          1
(5, 6]          0

###  Zero (no skew) skewness

###  Negative (left) skewness