# Task 01

## Categorical-variables.Visualization-techniques-exercise-Solution
Ice cream shop

1. **Background:** There is an ice cream shop, that is operating in New York, LA and San Francisco.
2. **Data:**       You have sold 12,327 ice creams in New York; 17,129 in LA and 19,923 in San Francisco.
3. **Task:**       Order the data in a frequency distribution table.

In [2]:
import numpy as np
import pandas as pd

In [3]:
frequency = {'Frequency':[12327,17129,19923]}
frequency['Frequency'].append(sum(frequency['Frequency']))
Categorical_variables_Data = pd.DataFrame(frequency, index=['New York', 'LA', 'San Francisco','Total'])
Categorical_variables_Data

               Frequency
New York           12327
LA                 17129
San Francisco      19923
Total              49379

# Task 02

## Cross-table-and-scatter-plot-exercise-solution

Cross table

1. Background: You have employment data about country X. You have been asked to prepare a cross-table showing that data. 
                60% of 18 to 25-year-olds are employed
                85% of 25 to 35-year-olds are employed
                5% of 35 to 45-year-olds are unemployed
                3% of 45 to 55-year-olds are unemployed
                3% of 55 to 65-year-olds are unemployed
                All 65+ are employed. Note: the definition of unemployed is: without a job, but actively searching for one.  
                That's probably why all 65+s are employed.
2. Task 1:      Create a cross table summarizing the data you have been given.
3. Task 2:      Create a side-by-side bar chart (it is called clustered column chart in Excel), in order to visually enhance your summary.

In [5]:
cross_table_data = {'Employed':[60,85,95,97,97,100],'Unemployed':[40,15,5,3,3,0],'Total':[100,100,100,100,100,100]}
cross_table_data['Employed'].append(sum(cross_table_data['Employed']))
cross_table_data['Unemployed'].append(sum(cross_table_data['Unemployed']))
cross_table_data['Total'].append(sum(cross_table_data['Total']))
cross_table = pd.DataFrame(cross_table_data, index=['18-25', '25-35', '35-45','45-55','55-65','65+','Total'])
cross_table

       Employed  Unemployed  Total
18-25        60          40    100
25-35        85          15    100
35-45        95           5    100
45-55        97           3    100
55-65        97           3    100
65+         100           0    100
Total       534          66    600